# Visual Studio Code workspace files
*.code-workspace

# VS Code build directory
**/.vscode

# PlatformIO build directory
**/.pio

# PlatformIO project settings
platformio.ini

# PlatformIO monitor logs
platformio-device-monitor-*.log

# ESP-IDF SDK configuration file
sdkconfig
sdkconfig.fujinet-v1
sdkconfig.fujinet-v1-8mb
sdkconfig.fujinet-v1-4mb
sdkconfig.fujiapple-rev0
sdkconfig.fujinet-rs232-rev0
sdkconfig.fujinet-lynx-prototype
sdkconfig.fujinet-lynx-devkitc
sdkconfig.fujinet-adam-v1
sdkconfig.fujinet-cbm
sdkconfig.fujinet-rc2014sio-rev0

include/ssid.h
/*.log
sdkconfig.fujinet-v1
include/version.h
build/CMakeCache.txt
build/.cmake/api/v1/query/client-vscode/query.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/3.20.2/CMakeCCompiler.cmake
build/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.2/CMakeSystem.cmake
build/CMakeFiles/3.20.2/CompilerIdC/a.out
build/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.2/CompilerIdCXX/a.out
build/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
.idea/.gitignore
.idea/.name
.idea/fujinet-platformio.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/3.20.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.20.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
